<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rocket_fly1.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,562},{124,146}}</string>
                <key>offset</key>
                <string>{1,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,267},{124,146}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>rocket_fly10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{390,384}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,18},{390,384}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>rocket_fly11.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{378,174}}</string>
                <key>offset</key>
                <string>{4,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,224},{378,174}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>rocket_fly12.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,382},{370,170}}</string>
                <key>offset</key>
                <string>{5,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,225},{370,170}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>rocket_fly13.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,842},{360,158}}</string>
                <key>offset</key>
                <string>{5,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,226},{360,158}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>rocket_fly2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,390},{120,170}}</string>
                <key>offset</key>
                <string>{1,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,250},{120,170}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>rocket_fly3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{326,156}}</string>
                <key>offset</key>
                <string>{3,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,233},{326,156}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>rocket_fly4.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,842},{316,164}}</string>
                <key>offset</key>
                <string>{3,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,209},{316,164}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>rocket_fly5.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,754},{418,220}}</string>
                <key>offset</key>
                <string>{-4,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,173},{418,220}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>rocket_fly6.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,390},{450,316}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,101},{450,316}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>rocket_fly7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,336}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{450,336}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>rocket_fly8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{374,358}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,53},{374,358}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>rocket_fly9.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{388,386}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,33},{388,386}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rocket_fly.png</string>
            <key>size</key>
            <string>{1020,1244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40d5373ba3a515516edb0d2f56fcf33f:1/1$</string>
            <key>textureFileName</key>
            <string>rocket_fly.png</string>
        </dict>
    </dict>
</plist>
