<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>win_explosive1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3626},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive10.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,3324},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3324},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive12.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,3022},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3022},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive14.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2720},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2720},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive16.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2418},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2418},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive18.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2116},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2116},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1814},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1814},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive21.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1512},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1512},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive23.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1210},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive25.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,908},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive4.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,606},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive6.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,304},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive8.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
            <key>win_explosive9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,300}}</string>
                <key>sourceSize</key>
                <string>{750,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win_explosive.png</string>
            <key>size</key>
            <string>{1506,3928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d55a5259863811722997aa8d01d87da2:1/1$</string>
            <key>textureFileName</key>
            <string>win_explosive.png</string>
        </dict>
    </dict>
</plist>
