<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_ circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,654},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{133,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,41}}</string>
                <key>sourceSize</key>
                <string>{133,41}</string>
            </dict>
            <key>black_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,654},{17,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>black_point_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,611},{38,41}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,51}</string>
            </dict>
            <key>bomb_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,554},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>bomb_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>double_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>double_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>flower_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>flower_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>king.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{100,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,118}}</string>
                <key>sourceSize</key>
                <string>{100,118}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,679},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>queen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,122}}</string>
                <key>sourceSize</key>
                <string>{96,122}</string>
            </dict>
            <key>recent_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,202},{232,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,42}}</string>
                <key>sourceSize</key>
                <string>{232,42}</string>
            </dict>
            <key>red_ circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,630},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>red_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,436},{133,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,41}}</string>
                <key>sourceSize</key>
                <string>{133,41}</string>
            </dict>
            <key>red_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,679},{17,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>red_point_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,571},{38,41}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,51}</string>
            </dict>
            <key>single_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>single_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>straight_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>straight_flower_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>straight_flower_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>straight_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trend.png</string>
            <key>size</key>
            <string>{126,706}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb86c11f0bb19b5d8ead5a1b165bcc50:1/1$</string>
            <key>textureFileName</key>
            <string>trend.png</string>
        </dict>
    </dict>
</plist>
