<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird15_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,924},{251,225}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{251,225}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1337},{257,225}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{257,225}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1611},{257,225}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{257,225}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1596},{247,223}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{247,223}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,1531},{237,223}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{237,223}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,1756},{231,221}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{231,221}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,1756},{231,221}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{231,221}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1296},{233,223}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{233,223}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1578},{237,223}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{237,223}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1586},{245,225}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{245,225}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1337},{247,227}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{247,227}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1337},{239,229}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{239,229}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1817},{219,229}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{219,229}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,259},{191,229}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{191,229}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,490},{163,229}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{163,229}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1845},{143,229}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{143,229}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,1337},{139,229}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{139,229}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1833},{141,227}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,1},{141,227}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,1108},{151,227}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,2},{151,227}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,721},{167,229}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{167,229}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,918},{189,229}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{189,229}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1097},{215,227}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{215,227}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird15_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,1296},{237,227}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{237,227}}</string>
                <key>sourceSize</key>
                <string>{259,229}</string>
            </dict>
            <key>Bird16_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1258},{152,367}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{152,367}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,259},{152,367}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{152,367}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,438},{152,359}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,8},{152,359}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,778},{158,349}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,18},{158,349}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,413},{176,337}}</string>
                <key>offset</key>
                <string>{15,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,30},{176,337}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,730},{184,329}}</string>
                <key>offset</key>
                <string>{19,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,38},{184,329}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,405},{188,323}}</string>
                <key>offset</key>
                <string>{21,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{188,323}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,591},{190,317}}</string>
                <key>offset</key>
                <string>{22,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,50},{190,317}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,1108},{186,317}}</string>
                <key>offset</key>
                <string>{20,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,50},{186,317}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,595},{174,327}}</string>
                <key>offset</key>
                <string>{14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,40},{174,327}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,417},{152,345}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,22},{152,345}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1627},{152,361}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,6},{152,361}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,259},{152,367}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{152,367}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1627},{152,365}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,1},{152,365}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,425},{156,351}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,15},{156,351}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,413},{180,335}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,31},{180,335}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,595},{192,321}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,45},{192,321}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,591},{198,311}}</string>
                <key>offset</key>
                <string>{-18,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{198,311}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,910},{196,307}}</string>
                <key>offset</key>
                <string>{-18,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,59},{196,307}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1296},{188,313}}</string>
                <key>offset</key>
                <string>{-14,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,53},{188,313}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,764},{170,331}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{170,331}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,799},{152,353}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,14},{152,353}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird16_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1258},{152,367}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{152,367}}</string>
                <key>sourceSize</key>
                <string>{234,367}</string>
            </dict>
            <key>Bird17_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1276},{214,413}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{214,413}}</string>
                <key>sourceSize</key>
                <string>{214,421}</string>
            </dict>
            <key>Bird17_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{214,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,421}}</string>
                <key>sourceSize</key>
                <string>{214,421}</string>
            </dict>
            <key>Bird17_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{214,413}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{214,413}}</string>
                <key>sourceSize</key>
                <string>{214,421}</string>
            </dict>
            <key>Bird17_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{214,401}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{214,401}}</string>
                <key>sourceSize</key>
                <string>{214,421}</string>
            </dict>
            <key>Bird17_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,438},{214,413}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{214,413}}</string>
                <key>sourceSize</key>
                <string>{214,421}</string>
            </dict>
            <key>Bird17_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{214,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,421}}</string>
                <key>sourceSize</key>
                <string>{214,421}</string>
            </dict>
            <key>Bird17_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{214,413}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{214,413}}</string>
                <key>sourceSize</key>
                <string>{214,421}</string>
            </dict>
            <key>Bird17_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,853},{214,403}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{214,403}}</string>
                <key>sourceSize</key>
                <string>{214,421}</string>
            </dict>
            <key>Bird17_Effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,952},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,160}</string>
            </dict>
            <key>Bird18_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1990},{56,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,376}}</string>
                <key>sourceSize</key>
                <string>{58,378}</string>
            </dict>
            <key>Bird18_Effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1154},{140,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,146}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>Bird19_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1691},{307,255}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{307,255}}</string>
                <key>sourceSize</key>
                <string>{313,283}</string>
            </dict>
            <key>Bird19_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,2},{307,255}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{307,255}}</string>
                <key>sourceSize</key>
                <string>{313,283}</string>
            </dict>
            <key>Bird19_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,2},{307,255}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{307,255}}</string>
                <key>sourceSize</key>
                <string>{313,283}</string>
            </dict>
            <key>Bird19_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{307,255}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{307,255}}</string>
                <key>sourceSize</key>
                <string>{313,283}</string>
            </dict>
            <key>Bird19_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1691},{307,255}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{307,255}}</string>
                <key>sourceSize</key>
                <string>{313,283}</string>
            </dict>
            <key>Bird19_Effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1531},{140,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,143}}</string>
                <key>sourceSize</key>
                <string>{140,145}</string>
            </dict>
            <key>Bird20_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{438,434}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{438,434}}</string>
                <key>sourceSize</key>
                <string>{460,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>birds1_2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3ab34430992a616d99fd8d1383b2d2f$</string>
            <key>textureFileName</key>
            <string>birds1_2.png</string>
        </dict>
    </dict>
</plist>
