<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird27_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,998},{494,792}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,21},{494,792}}</string>
                <key>sourceSize</key>
                <string>{820,820}</string>
            </dict>
            <key>Bird27_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{496,810}}</string>
                <key>offset</key>
                <string>{30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,6},{496,810}}</string>
                <key>sourceSize</key>
                <string>{820,820}</string>
            </dict>
            <key>Bird27_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{496,818}}</string>
                <key>offset</key>
                <string>{31,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,0},{496,818}}</string>
                <key>sourceSize</key>
                <string>{820,820}</string>
            </dict>
            <key>Bird27_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,818}}</string>
                <key>offset</key>
                <string>{30,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,0},{496,818}}</string>
                <key>sourceSize</key>
                <string>{820,820}</string>
            </dict>
            <key>Bird27_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,500},{496,806}}</string>
                <key>offset</key>
                <string>{28,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,8},{496,806}}</string>
                <key>sourceSize</key>
                <string>{820,820}</string>
            </dict>
            <key>Bird27_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1494},{510,780}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,30},{510,780}}</string>
                <key>sourceSize</key>
                <string>{820,820}</string>
            </dict>
            <key>Bird27_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,780},{548,778}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,28},{548,778}}</string>
                <key>sourceSize</key>
                <string>{820,820}</string>
            </dict>
            <key>Bird27_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,2},{568,776}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,27},{568,776}}</string>
                <key>sourceSize</key>
                <string>{820,820}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>birds2_5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b03955598e516b02040335ef6ce7c9c$</string>
            <key>textureFileName</key>
            <string>birds2_5.png</string>
        </dict>
    </dict>
</plist>
