<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <clear />
        <add key="url0" value="http://127.0.0.1" />
        <add key="url1" value="http://120.78.153.176:81" />
        <add key="url2" value="http://source.cn-textile.org/update" />
        <add key="url3" value="http://150.109.24.227:8000/update" />
        <add key="url4" value="清空" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>