<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>winner_area_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{747,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{747,180}}</string>
                <key>sourceSize</key>
                <string>{747,180}</string>
            </dict>
            <key>winner_area_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{395,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,219}}</string>
                <key>sourceSize</key>
                <string>{395,219}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>winner_area.png</string>
            <key>size</key>
            <string>{1148,223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b560402a34f365c9cd9d35baedb78410:1/1$</string>
            <key>textureFileName</key>
            <string>winner_area.png</string>
        </dict>
    </dict>
</plist>
