<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1190},{128,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,179}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>bg_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1190},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>card0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1190},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1190},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1058},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1058},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1058},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1058},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1058},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1790},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1607},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1424},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1241},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,926},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,926},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,926},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,926},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,794},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,794},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,794},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,794},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,662},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,662},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,662},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,662},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,530},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,530},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,530},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,530},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,398},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,398},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,398},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,398},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,266},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,266},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,266},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,266},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,134},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,134},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,134},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,134},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87d18f733ffb5da4609d2ac146ea141a$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
