<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/lhd/images/history/jilu_he1.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,70},{18,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,17}</string>
			</dict>
			<key>games/lhd/images/history/lh_bg_tm.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,24},{1,1}}</string>
				<key>offset</key>
				<string>{7,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_bz_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,70},{10,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,9}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_bz_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,70},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_bz_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,70},{10,11}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,12}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_dot_item_he.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,1},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_dot_item_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,1},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_dot_item_long.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,36},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_dot_item_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,36},{23,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,24}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_dragon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,403},{143,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,109}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_long_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,70},{18,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,17}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_long_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,70},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_long_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,70},{16,15}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,17}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_long_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,70},{18,17}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,17}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_hu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,70},{18,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,17}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_hu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,70},{17,17}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,17}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_hu_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,70},{16,15}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,17}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_hu_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,70},{18,17}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,17}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_ludan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{529,265}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{529,265}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_ludan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,268},{881,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{881,133}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_ludan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,92},{441,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{441,67}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_ludan3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,228},{480,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,1}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_ludan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,1},{133,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,67}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_ludan5.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,1},{133,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,67}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_rz_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,13},{9,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,9}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_rz_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,1},{9,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,10}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_rz_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,70},{10,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,12}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_spe_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,161},{189,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,39}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_spe_long.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,161},{189,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,39}</string>
			</dict>
			<key>games/lhd/images/history/lh_img_tiger.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,1},{128,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,89}</string>
			</dict>
			<key>games/lhd/images/history/lh_txt_esjsf.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,202},{132,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>history.png</string>
			<key>realTextureFileName</key>
			<string>history.png</string>
			<key>size</key>
			<string>{1024,513}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>513</integer>
		</dict>
	</dict>
</plist>