<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,25},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>corner_ball_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>corner_ball_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,17},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>corner_circle_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,17},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>corner_circle_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,17},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>corner_line_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,32},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>corner_line_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>dl_item_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,17},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>dl_item_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,17},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>dyzl_item_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,32},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>dyzl_item_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,41},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>next_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,48}}</string>
                <key>sourceSize</key>
                <string>{256,48}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>xl_item_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>xl_item_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,32},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>yyl_item_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,31},{6,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,7}}</string>
                <key>sourceSize</key>
                <string>{6,7}</string>
            </dict>
            <key>yyl_item_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,41},{6,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,7}}</string>
                <key>sourceSize</key>
                <string>{6,7}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lzt_item.png</string>
            <key>size</key>
            <string>{325,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63b4434710ffbc67dab60d7d2be431a8:1/1$</string>
            <key>textureFileName</key>
            <string>lzt_item.png</string>
        </dict>
    </dict>
</plist>
