<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lord_card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{128,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,179}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_club_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,530},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_club_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,530},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_club_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,530},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_club_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,530},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_club_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,530},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_club_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,530},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_club_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,530},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_club_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,530},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_club_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,530},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_club_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_club_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,398},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_club_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,398},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_club_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,398},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_diamond_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,398},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_diamond_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,398},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_diamond_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,398},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_diamond_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,398},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_diamond_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,398},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_diamond_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,398},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_diamond_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,398},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_diamond_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_diamond_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,266},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_diamond_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,266},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_diamond_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,266},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_diamond_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,266},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_diamond_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,266},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_heart_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,266},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_heart_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,266},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_heart_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,266},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_heart_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,266},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_heart_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,266},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_heart_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_heart_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,134},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_heart_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,134},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_heart_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,134},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_heart_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,134},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_heart_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,134},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_heart_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,134},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_heart_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,134},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_s_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,179}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_spade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,134},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_spade_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,134},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_spade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,134},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_spade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_spade_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,2},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_spade_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,2},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_spade_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,2},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_spade_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,2},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_spade_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,2},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_spade_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_spade_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_spade_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>lord_card_spade_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{2015,662}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d98dbe78c6de07671951f550310781b9$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
