<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mp_card_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_0_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1,256},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1,511},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1,766},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1,1021},{168,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mp_card_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{171,1},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{171,256},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{171,511},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{171,766},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{256,1021},{168,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mp_card_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{341,1},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{341,256},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{341,511},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{341,766},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{511,1},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{511,256},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{511,511},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{511,766},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{511,1021},{168,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mp_card_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{681,1},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{681,256},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{681,511},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{681,766},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{766,1021},{168,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mp_card_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{851,1},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{851,256},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{851,511},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{851,766},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1021,1},{168,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mp_card_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1276,1},{168,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mp_card_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1531,1},{168,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mp_card_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1786,1},{168,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mp_card_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1021,171},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1021,426},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1021,681},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1021,936},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1191,171},{168,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mp_card_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1446,171},{168,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mp_card_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1701,171},{168,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mp_card_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1191,341},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1191,596},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1191,851},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1361,341},{168,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mp_card_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1616,341},{168,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mp_card_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1871,341},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1361,511},{168,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mp_card_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1616,511},{168,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mp_card_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1871,596},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1361,851},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1361,681},{168,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mp_card_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1616,681},{168,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mp_card_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1531,851},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1701,851},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_card_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{170,255}</string>
                <key>textureRect</key>
                <string>{{1871,851},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mmmC.png</string>
            <key>size</key>
            <string>{2040,1190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15082a97df7d5b1fbb8dd3fc2d883d94:d8a7c637ea225e71ea670c64d4750a2b:80ddf77ef308e92b91b745ff49e014ad$</string>
            <key>textureFileName</key>
            <string>mmmC.png</string>
        </dict>
    </dict>
</plist>
