<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plane_tail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,158}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,158}}</string>
                <key>sourceSize</key>
                <string>{380,160}</string>
            </dict>
            <key>plane_tail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{270,52}}</string>
                <key>offset</key>
                <string>{-55,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,59},{270,52}}</string>
                <key>sourceSize</key>
                <string>{380,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plane_tail.png</string>
            <key>size</key>
            <string>{372,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08c3d6b7863c628dacf65bf84258f40d:1/1$</string>
            <key>textureFileName</key>
            <string>plane_tail.png</string>
        </dict>
    </dict>
</plist>
