<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plane_propeller1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{78,124}}</string>
                <key>sourceSize</key>
                <string>{90,140}</string>
            </dict>
            <key>plane_propeller2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{76,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{76,112}}</string>
                <key>sourceSize</key>
                <string>{90,140}</string>
            </dict>
            <key>plane_propeller3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{74,124}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{74,124}}</string>
                <key>sourceSize</key>
                <string>{90,140}</string>
            </dict>
            <key>plane_propeller4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{76,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{76,126}}</string>
                <key>sourceSize</key>
                <string>{90,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plane_propeller.png</string>
            <key>size</key>
            <string>{82,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a08d58f7be82ed8b7e8ba74fbbb04828:1/1$</string>
            <key>textureFileName</key>
            <string>plane_propeller.png</string>
        </dict>
    </dict>
</plist>
