<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>doubleStraight_blink1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1034},{450,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,256}}</string>
                <key>sourceSize</key>
                <string>{450,256}</string>
            </dict>
            <key>doubleStraight_blink10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{450,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,256}}</string>
                <key>sourceSize</key>
                <string>{450,256}</string>
            </dict>
            <key>doubleStraight_blink11.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,776},{450,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,256}}</string>
                <key>sourceSize</key>
                <string>{450,256}</string>
            </dict>
            <key>doubleStraight_blink12.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,776},{450,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,256}}</string>
                <key>sourceSize</key>
                <string>{450,256}</string>
            </dict>
            <key>doubleStraight_blink2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{450,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,256}}</string>
                <key>sourceSize</key>
                <string>{450,256}</string>
            </dict>
            <key>doubleStraight_blink3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,518},{450,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,256}}</string>
                <key>sourceSize</key>
                <string>{450,256}</string>
            </dict>
            <key>doubleStraight_blink4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{450,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,256}}</string>
                <key>sourceSize</key>
                <string>{450,256}</string>
            </dict>
            <key>doubleStraight_blink5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,260},{450,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,256}}</string>
                <key>sourceSize</key>
                <string>{450,256}</string>
            </dict>
            <key>doubleStraight_blink6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{450,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,256}}</string>
                <key>sourceSize</key>
                <string>{450,256}</string>
            </dict>
            <key>doubleStraight_blink7.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{450,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,256}}</string>
                <key>sourceSize</key>
                <string>{450,256}</string>
            </dict>
            <key>doubleStraight_blink8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,256}}</string>
                <key>sourceSize</key>
                <string>{450,256}</string>
            </dict>
            <key>doubleStraight_blink9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{450,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,256}}</string>
                <key>sourceSize</key>
                <string>{450,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>doubleStraight_blink.png</string>
            <key>size</key>
            <string>{906,1292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bd0f3f5547d08f9ec9ece34cff3ea72:1/1$</string>
            <key>textureFileName</key>
            <string>doubleStraight_blink.png</string>
        </dict>
    </dict>
</plist>
