<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird25_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,485},{279,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,479}}</string>
                <key>sourceSize</key>
                <string>{279,479}</string>
            </dict>
            <key>Bird25_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{277,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,481}}</string>
                <key>sourceSize</key>
                <string>{277,481}</string>
            </dict>
            <key>Bird25_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{271,481}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{271,481}}</string>
                <key>sourceSize</key>
                <string>{273,481}</string>
            </dict>
            <key>Bird25_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{269,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,481}}</string>
                <key>sourceSize</key>
                <string>{269,481}</string>
            </dict>
            <key>Bird25_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1451},{267,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,481}}</string>
                <key>sourceSize</key>
                <string>{267,481}</string>
            </dict>
            <key>Bird25_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1451},{261,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,481}}</string>
                <key>sourceSize</key>
                <string>{261,481}</string>
            </dict>
            <key>Bird25_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,968},{259,481}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{259,481}}</string>
                <key>sourceSize</key>
                <string>{261,481}</string>
            </dict>
            <key>Bird25_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1451},{261,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,481}}</string>
                <key>sourceSize</key>
                <string>{261,481}</string>
            </dict>
            <key>Bird25_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1451},{267,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,481}}</string>
                <key>sourceSize</key>
                <string>{267,481}</string>
            </dict>
            <key>Bird25_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{269,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,481}}</string>
                <key>sourceSize</key>
                <string>{269,481}</string>
            </dict>
            <key>Bird25_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{271,481}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{271,481}}</string>
                <key>sourceSize</key>
                <string>{273,481}</string>
            </dict>
            <key>Bird25_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{277,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,481}}</string>
                <key>sourceSize</key>
                <string>{277,481}</string>
            </dict>
            <key>Bird25_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,485},{279,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,479}}</string>
                <key>sourceSize</key>
                <string>{279,479}</string>
            </dict>
            <key>Bird25_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,481},{281,477}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{281,477}}</string>
                <key>sourceSize</key>
                <string>{281,479}</string>
            </dict>
            <key>Bird25_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,966},{283,477}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{283,477}}</string>
                <key>sourceSize</key>
                <string>{283,479}</string>
            </dict>
            <key>Bird25_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{283,477}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{283,477}}</string>
                <key>sourceSize</key>
                <string>{283,479}</string>
            </dict>
            <key>Bird25_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{283,475}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{283,475}}</string>
                <key>sourceSize</key>
                <string>{283,477}</string>
            </dict>
            <key>Bird25_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1445},{281,473}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{281,473}}</string>
                <key>sourceSize</key>
                <string>{283,475}</string>
            </dict>
            <key>Bird25_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1445},{277,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,471}}</string>
                <key>sourceSize</key>
                <string>{277,471}</string>
            </dict>
            <key>Bird25_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,960},{275,471}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{275,471}}</string>
                <key>sourceSize</key>
                <string>{275,473}</string>
            </dict>
            <key>Bird26_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,616},{334,300}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,38},{334,300}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>Bird26_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,918},{334,298}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,38},{334,298}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>Bird26_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,918},{334,298}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{334,298}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>Bird26_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,1218},{332,298}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,33},{332,298}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>Bird26_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,1518},{332,296}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{332,296}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>Bird26_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,1218},{332,298}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{332,298}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>Bird26_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1552},{332,300}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,24},{332,300}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>Bird26_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1218},{332,300}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{332,300}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>Bird26_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,614},{334,302}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{334,302}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>Bird26_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,310},{334,304}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{334,304}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>Bird26_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,2},{334,306}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{334,306}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>Bird26_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,2},{336,306}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{336,306}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>Bird26_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{336,306}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,28},{336,306}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>Bird26_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,479},{336,306}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,30},{336,306}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>Bird26_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,310},{334,302}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,35},{334,302}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>birds2_3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ca2856e22260c0061bf9685267df72e$</string>
            <key>textureFileName</key>
            <string>birds2_3.png</string>
        </dict>
    </dict>
</plist>
