<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,712},{194,496}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{194,496}}</string>
                <key>sourceSize</key>
                <string>{226,530}</string>
            </dict>
            <key>Bird21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,710},{190,498}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,12},{190,498}}</string>
                <key>sourceSize</key>
                <string>{226,530}</string>
            </dict>
            <key>Bird21_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,524},{186,504}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,8},{186,504}}</string>
                <key>sourceSize</key>
                <string>{226,530}</string>
            </dict>
            <key>Bird21_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,524},{184,504}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,11},{184,504}}</string>
                <key>sourceSize</key>
                <string>{226,530}</string>
            </dict>
            <key>Bird21_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,346},{176,498}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,19},{176,498}}</string>
                <key>sourceSize</key>
                <string>{226,530}</string>
            </dict>
            <key>Bird21_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{168,494}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,25},{168,494}}</string>
                <key>sourceSize</key>
                <string>{226,530}</string>
            </dict>
            <key>Bird21_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,2},{166,490}}</string>
                <key>offset</key>
                <string>{19,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,31},{166,490}}</string>
                <key>sourceSize</key>
                <string>{226,530}</string>
            </dict>
            <key>Bird21_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,170},{172,486}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,37},{172,486}}</string>
                <key>sourceSize</key>
                <string>{226,530}</string>
            </dict>
            <key>Bird21_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,344},{176,484}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{176,484}}</string>
                <key>sourceSize</key>
                <string>{226,530}</string>
            </dict>
            <key>Bird21_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,309},{176,484}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,38},{176,484}}</string>
                <key>sourceSize</key>
                <string>{226,530}</string>
            </dict>
            <key>Bird21_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{176,486}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,35},{176,486}}</string>
                <key>sourceSize</key>
                <string>{226,530}</string>
            </dict>
            <key>Bird21_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,170},{174,490}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,29},{174,490}}</string>
                <key>sourceSize</key>
                <string>{226,530}</string>
            </dict>
            <key>Bird21_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,137},{170,494}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,23},{170,494}}</string>
                <key>sourceSize</key>
                <string>{226,530}</string>
            </dict>
            <key>Bird21_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{174,494}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{174,494}}</string>
                <key>sourceSize</key>
                <string>{226,530}</string>
            </dict>
            <key>Bird21_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,522},{180,494}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{180,494}}</string>
                <key>sourceSize</key>
                <string>{226,530}</string>
            </dict>
            <key>Bird21_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{186,494}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{186,494}}</string>
                <key>sourceSize</key>
                <string>{226,530}</string>
            </dict>
            <key>Bird21_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,712},{196,494}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{196,494}}</string>
                <key>sourceSize</key>
                <string>{226,530}</string>
            </dict>
            <key>Bird22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,1215},{401,352}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,52},{401,352}}</string>
                <key>sourceSize</key>
                <string>{513,422}</string>
            </dict>
            <key>Bird22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1203},{337,376}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,33},{337,376}}</string>
                <key>sourceSize</key>
                <string>{513,422}</string>
            </dict>
            <key>Bird22_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,910},{291,344}}</string>
                <key>offset</key>
                <string>{-8,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,71},{291,344}}</string>
                <key>sourceSize</key>
                <string>{513,422}</string>
            </dict>
            <key>Bird22_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,902},{281,374}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,48},{281,374}}</string>
                <key>sourceSize</key>
                <string>{513,422}</string>
            </dict>
            <key>Bird22_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1215},{347,384}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,38},{347,384}}</string>
                <key>sourceSize</key>
                <string>{513,422}</string>
            </dict>
            <key>Bird22_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1542},{505,384}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{505,384}}</string>
                <key>sourceSize</key>
                <string>{513,422}</string>
            </dict>
            <key>Bird22_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{473,360}}</string>
                <key>offset</key>
                <string>{-14,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,62},{473,360}}</string>
                <key>sourceSize</key>
                <string>{513,422}</string>
            </dict>
            <key>Bird22_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{275,396}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,26},{275,396}}</string>
                <key>sourceSize</key>
                <string>{513,422}</string>
            </dict>
            <key>Bird22_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,908},{283,422}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,0},{283,422}}</string>
                <key>sourceSize</key>
                <string>{513,422}</string>
            </dict>
            <key>Bird22_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,910},{303,410}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,12},{303,410}}</string>
                <key>sourceSize</key>
                <string>{513,422}</string>
            </dict>
            <key>Bird22_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1185},{317,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,0},{317,422}}</string>
                <key>sourceSize</key>
                <string>{513,422}</string>
            </dict>
            <key>Bird22_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1193},{327,422}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,0},{327,422}}</string>
                <key>sourceSize</key>
                <string>{513,422}</string>
            </dict>
            <key>Bird22_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,1569},{513,414}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,414}}</string>
                <key>sourceSize</key>
                <string>{513,422}</string>
            </dict>
            <key>Bird22_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1564},{513,408}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,408}}</string>
                <key>sourceSize</key>
                <string>{513,422}</string>
            </dict>
            <key>Bird23_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{133,466}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,9},{133,466}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>Bird23_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,468}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,7},{129,468}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>Bird23_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{133,464}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,11},{133,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>birds2_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f37520612d11d43eacd1d3bac2980af2$</string>
            <key>textureFileName</key>
            <string>birds2_1.png</string>
        </dict>
    </dict>
</plist>
