<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird29_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{614,696}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,34},{614,696}}</string>
                <key>sourceSize</key>
                <string>{650,750}</string>
            </dict>
            <key>Bird29_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{602,696}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,37},{602,696}}</string>
                <key>sourceSize</key>
                <string>{650,750}</string>
            </dict>
            <key>Bird29_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,700},{594,696}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,37},{594,696}}</string>
                <key>sourceSize</key>
                <string>{650,750}</string>
            </dict>
            <key>Bird29_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{592,696}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,36},{592,696}}</string>
                <key>sourceSize</key>
                <string>{650,750}</string>
            </dict>
            <key>Bird29_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1398},{596,694}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,36},{596,694}}</string>
                <key>sourceSize</key>
                <string>{650,750}</string>
            </dict>
            <key>Bird29_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1398},{606,694}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,33},{606,694}}</string>
                <key>sourceSize</key>
                <string>{650,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>birds2_7.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c76622d4ca2d06732769133022ae223$</string>
            <key>textureFileName</key>
            <string>birds2_7.png</string>
        </dict>
    </dict>
</plist>
