<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/lhd/images/card/poker_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,163},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_302.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,1},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_303.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,325},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_304.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,1},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_305.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_306.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,325},{120,159}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_307.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,163},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_308.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,325},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_309.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,487},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_310.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,649},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_311.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,325},{120,159}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_312.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,487},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_313.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,649},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_402.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,325},{120,159}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_403.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,325},{120,159}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_404.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,486},{120,159}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_405.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,487},{120,159}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_406.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,486},{120,159}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_407.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,811},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_408.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,486},{120,159}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_409.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,486},{120,159}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_410.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,647},{120,159}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_411.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,648},{120,159}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_412.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,811},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_413.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,973},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_502.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,808},{120,159}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_503.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,809},{120,159}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_504.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,969},{120,159}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_505.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,973},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_506.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,163},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_507.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,163},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_508.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,163},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_509.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,1},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_510.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,163},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_511.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,970},{120,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_512.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,1},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_513.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,1},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_602.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,647},{120,159}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_603.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,163},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_604.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,647},{120,159}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_605.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,163},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_606.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,325},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_607.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,647},{120,159}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_608.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,487},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_609.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,808},{120,159}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_610.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,649},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_611.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,969},{120,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_612.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,808},{120,159}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_613.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_301.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,811},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_401.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,973},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_501.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,325},{120,160}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
			<key>games/lhd/images/card/poker_601.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,808},{120,159}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>card.png</string>
			<key>realTextureFileName</key>
			<string>card.png</string>
			<key>size</key>
			<string>{981,1134}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>981</integer>
			<key>height</key>
			<integer>1134</integer>
		</dict>
	</dict>
</plist>