<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird27_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{496,786}}</string>
                <key>offset</key>
                <string>{30,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,30},{496,786}}</string>
                <key>sourceSize</key>
                <string>{820,820}</string>
            </dict>
            <key>Bird27_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,786}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,30},{496,786}}</string>
                <key>sourceSize</key>
                <string>{820,820}</string>
            </dict>
            <key>Bird27_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{496,784}}</string>
                <key>offset</key>
                <string>{30,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,30},{496,784}}</string>
                <key>sourceSize</key>
                <string>{820,820}</string>
            </dict>
            <key>Bird27_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,500},{496,782}}</string>
                <key>offset</key>
                <string>{28,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,30},{496,782}}</string>
                <key>sourceSize</key>
                <string>{820,820}</string>
            </dict>
            <key>Bird27_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{498,780}}</string>
                <key>offset</key>
                <string>{25,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,30},{498,780}}</string>
                <key>sourceSize</key>
                <string>{820,820}</string>
            </dict>
            <key>Bird27_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1496},{496,778}}</string>
                <key>offset</key>
                <string>{24,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,29},{496,778}}</string>
                <key>sourceSize</key>
                <string>{820,820}</string>
            </dict>
            <key>Bird27_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,784},{498,778}}</string>
                <key>offset</key>
                <string>{23,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,28},{498,778}}</string>
                <key>sourceSize</key>
                <string>{820,820}</string>
            </dict>
            <key>Bird27_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,998},{496,780}}</string>
                <key>offset</key>
                <string>{24,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,28},{496,780}}</string>
                <key>sourceSize</key>
                <string>{820,820}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>birds2_4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68301711310133c3cbec29077d759ffd$</string>
            <key>textureFileName</key>
            <string>birds2_4.png</string>
        </dict>
    </dict>
</plist>
