<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,480},{27,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{27,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,468},{39,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,456},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{21,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,468},{25,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{25,54}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,484},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{25,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,406},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{23,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,455},{23,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{23,48}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,383},{27,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{27,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,358},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{23,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,459},{23,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{23,48}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,456},{21,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{21,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,456},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{23,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,431},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{23,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>black_joker.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{115,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,169}}</string>
                <key>sourceSize</key>
                <string>{115,169}</string>
            </dict>
            <key>black_joker_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,383},{62,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{62,70}</string>
            </dict>
            <key>card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,137},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,191}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,191}}</string>
                <key>sourceSize</key>
                <string>{139,191}</string>
            </dict>
            <key>card_bg_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,378},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>card_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,308},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,80}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>card_club11.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,280},{96,127}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{96,127}}</string>
                <key>sourceSize</key>
                <string>{106,143}</string>
            </dict>
            <key>card_club12.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,366},{88,133}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{88,133}}</string>
                <key>sourceSize</key>
                <string>{106,143}</string>
            </dict>
            <key>card_club13.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,143},{96,131}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{96,131}}</string>
                <key>sourceSize</key>
                <string>{106,143}</string>
            </dict>
            <key>card_club_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,259},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>card_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,386},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>card_diamond11.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,173},{98,133}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{98,133}}</string>
                <key>sourceSize</key>
                <string>{106,143}</string>
            </dict>
            <key>card_diamond12.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{102,141}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{102,141}}</string>
                <key>sourceSize</key>
                <string>{106,143}</string>
            </dict>
            <key>card_diamond13.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,145},{100,133}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{100,133}}</string>
                <key>sourceSize</key>
                <string>{106,143}</string>
            </dict>
            <key>card_diamond_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,307},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>card_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,386},{80,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>card_heart11.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,195},{96,139}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{96,139}}</string>
                <key>sourceSize</key>
                <string>{106,143}</string>
            </dict>
            <key>card_heart12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{96,143}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{96,143}}</string>
                <key>sourceSize</key>
                <string>{106,143}</string>
            </dict>
            <key>card_heart13.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{100,139}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{100,139}}</string>
                <key>sourceSize</key>
                <string>{106,143}</string>
            </dict>
            <key>card_heart_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,353},{43,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>card_lordland.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,276},{105,105}}</string>
                <key>offset</key>
                <string>{17,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,86},{105,105}}</string>
                <key>sourceSize</key>
                <string>{139,191}</string>
            </dict>
            <key>card_spade.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,274},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>card_spade11.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{102,137}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{102,137}}</string>
                <key>sourceSize</key>
                <string>{106,143}</string>
            </dict>
            <key>card_spade12.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{104,133}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{104,133}}</string>
                <key>sourceSize</key>
                <string>{106,143}</string>
            </dict>
            <key>card_spade13.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,141},{100,131}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{100,131}}</string>
                <key>sourceSize</key>
                <string>{106,143}</string>
            </dict>
            <key>card_spade_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,211},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,383},{27,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{27,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,468},{39,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,481},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{21,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>r12.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,145},{25,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{25,54}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>r13.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,336},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{25,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,456},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{23,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,431},{23,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{23,48}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,336},{27,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{27,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,455},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{23,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,358},{23,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{23,48}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,459},{21,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{21,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,480},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{23,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,455},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{23,46}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>red_joker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{115,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,169}}</string>
                <key>sourceSize</key>
                <string>{115,169}</string>
            </dict>
            <key>red_joker_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,383},{62,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{62,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_cards.png</string>
            <key>size</key>
            <string>{678,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6a20efb932877d943961683b73fa862:1/1$</string>
            <key>textureFileName</key>
            <string>ddz_cards.png</string>
        </dict>
    </dict>
</plist>
