<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dl_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,387},{16,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,96}}</string>
                <key>sourceSize</key>
                <string>{16,96}</string>
            </dict>
            <key>xsl_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,387},{16,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,48}}</string>
                <key>sourceSize</key>
                <string>{16,48}</string>
            </dict>
            <key>xsl_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,436},{8,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,48}}</string>
                <key>sourceSize</key>
                <string>{8,48}</string>
            </dict>
            <key>xsl_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,436},{8,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,48}}</string>
                <key>sourceSize</key>
                <string>{8,48}</string>
            </dict>
            <key>zpl_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,194},{32,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,192}}</string>
                <key>sourceSize</key>
                <string>{32,192}</string>
            </dict>
            <key>zpl_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{32,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,192}}</string>
                <key>sourceSize</key>
                <string>{32,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lzt_bg.png</string>
            <key>size</key>
            <string>{36,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39088c461675a5dc5661c01da7ed591f$</string>
            <key>textureFileName</key>
            <string>lzt_bg.png</string>
        </dict>
    </dict>
</plist>
