<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shexian/sgj_mianfei_00.png</key>
			<dict>
				<key>width</key>
				<integer>469</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>shexian/sgj_mianfei_01.png</key>
			<dict>
				<key>width</key>
				<integer>470</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>470</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>shexian/sgj_mianfei_02.png</key>
			<dict>
				<key>width</key>
				<integer>471</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>941</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>shexian/sgj_mianfei_03.png</key>
			<dict>
				<key>width</key>
				<integer>471</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>1413</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>shexian/sgj_mianfei_04.png</key>
			<dict>
				<key>width</key>
				<integer>466</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>shexian/sgj_mianfei_05.png</key>
			<dict>
				<key>width</key>
				<integer>464</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>467</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>shexian/sgj_mianfei_06.png</key>
			<dict>
				<key>width</key>
				<integer>457</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>932</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>shexian/sgj_mianfei_07.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>1390</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>shexian/sgj_mianfei_08.png</key>
			<dict>
				<key>width</key>
				<integer>458</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>443</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>shexian/sgj_mianfei_09.png</key>
			<dict>
				<key>width</key>
				<integer>465</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>459</integer>
				<key>y</key>
				<integer>443</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>sgj_mianfei_10.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>925</integer>
				<key>y</key>
				<integer>443</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sgj_mianfei_11.png</key>
			<dict>
				<key>width</key>
				<integer>507</integer>
				<key>height</key>
				<integer>551</integer>
				<key>originalWidth</key>
				<integer>507</integer>
				<key>originalHeight</key>
				<integer>551</integer>
				<key>x</key>
				<integer>952</integer>
				<key>y</key>
				<integer>443</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>sgj_mianfei0.png</string>
			<key>realTextureFileName</key>
			<string>sgj_mianfei0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>