<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>straight_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,114},{180,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label10.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,114},{180,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,114},{180,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{180,112}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,114},{180,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{180,112}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label13.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,114},{180,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,114},{180,112}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{180,112}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,114},{180,112}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{180,112}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label16.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,112},{180,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label17.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,112},{180,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{180,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,2},{180,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,2},{180,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label20.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,108}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{180,108}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label21.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,114},{180,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label22.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,114},{180,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label23.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,114},{180,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label24.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,114},{180,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label25.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,114},{180,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{180,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{180,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label5.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{180,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label6.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{180,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label7.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{180,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label8.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,108}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{180,108}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>straight_label9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,108}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,108}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>straight_label.png</string>
            <key>size</key>
            <string>{1822,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d2b09e02ce8fc1d553b9a91baf0de95:1/1$</string>
            <key>textureFileName</key>
            <string>straight_label.png</string>
        </dict>
    </dict>
</plist>
