<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>xiaoshandian/xiaoshandian0001.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaoshandian/xiaoshandian0003.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaoshandian/xiaoshandian0004.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>544</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaoshandian/xiaoshandian0007.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>122</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaoshandian/xiaoshandian0008.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>122</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaoshandian/xiaoshandian0009.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>544</integer>
				<key>y</key>
				<integer>122</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaoshandian/xiaoshandian0010.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaoshandian/xiaoshandian0011.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaoshandian/xiaoshandian0013.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>544</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaoshandian/xiaoshandian0015.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>366</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaoshandian/xiaoshandian0017.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>366</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiaoshandian/xiaoshandian0019.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>544</integer>
				<key>y</key>
				<integer>366</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhongjianbaozha/baokai0001.png</key>
			<dict>
				<key>width</key>
				<integer>338</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>338</integer>
				<key>originalHeight</key>
				<integer>322</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>488</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhongjianbaozha/baokai0002.png</key>
			<dict>
				<key>width</key>
				<integer>338</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>338</integer>
				<key>originalHeight</key>
				<integer>322</integer>
				<key>x</key>
				<integer>340</integer>
				<key>y</key>
				<integer>488</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhongjianbaozha/baokai0003.png</key>
			<dict>
				<key>width</key>
				<integer>338</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>338</integer>
				<key>originalHeight</key>
				<integer>322</integer>
				<key>x</key>
				<integer>680</integer>
				<key>y</key>
				<integer>488</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>vvvv.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>812</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sss.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>139</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>146</integer>
				<key>y</key>
				<integer>812</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hongtiaotiao1.png</key>
			<dict>
				<key>width</key>
				<integer>577</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>577</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>287</integer>
				<key>y</key>
				<integer>812</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>hongheidazhan_vsdonghua0.png</string>
			<key>realTextureFileName</key>
			<string>hongheidazhan_vsdonghua0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>