<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{107,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,148}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,709},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,861},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,709},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,861},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,709},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,861},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,709},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,861},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,709},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,598},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,557},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,557},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,902},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,750},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,598},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,487},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,446},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,446},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,446},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,791},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,639},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,487},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,376},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,335},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,335},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,335},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,335},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,265},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,224},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,224},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,224},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,224},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,154},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,113},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,113},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,113},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,113},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,762},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,610},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,458},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,306},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,154},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>card3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>poker_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
            <key>poker_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,150}}</string>
                <key>sourceSize</key>
                <string>{109,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18defa5860f41b626ba42e76c61c8728$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
