<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2012},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light10.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2012},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2012},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1610},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1610},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light14.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1610},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1610},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1208},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1208},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light18.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1208},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,806},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,806},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light21.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,806},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,404},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,404},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light4.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,404},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,2},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light8.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>anim_light9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_light.png</string>
            <key>size</key>
            <string>{2010,2414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80c8c458e44e280c4df04aec3580da9c:1/1$</string>
            <key>textureFileName</key>
            <string>anim_light.png</string>
        </dict>
    </dict>
</plist>
