<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/lhd/images/game/an_fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,531},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,49}</string>
			</dict>
			<key>games/lhd/images/game/an_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,554},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>games/lhd/images/game/an_shang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1413,301},{114,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,40}</string>
			</dict>
			<key>games/lhd/images/game/an_shang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1413,417},{114,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,40}</string>
			</dict>
			<key>games/lhd/images/game/an_shezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,574},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>games/lhd/images/game/bg_he.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,275},{254,274}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,275}</string>
			</dict>
			<key>games/lhd/images/game/bg_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,1},{282,272}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,275}</string>
			</dict>
			<key>games/lhd/images/game/bg_long.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,761},{285,274}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{288,275}</string>
			</dict>
			<key>games/lhd/images/game/bg_xing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,736},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>games/lhd/images/game/bi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,722},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>games/lhd/images/game/bipai_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,1},{387,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{387,263}</string>
			</dict>
			<key>games/lhd/images/game/bipai_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,390},{330,263}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{332,263}</string>
			</dict>
			<key>games/lhd/images/game/bipai_he.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,834},{169,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>games/lhd/images/game/bipai_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,608},{61,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,62}</string>
			</dict>
			<key>games/lhd/images/game/bipai_long.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,604},{57,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,62}</string>
			</dict>
			<key>games/lhd/images/game/bipai_ying.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,1},{136,142}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>games/lhd/images/game/dian_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1413,1},{169,32}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,36}</string>
			</dict>
			<key>games/lhd/images/game/dian_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1439,706},{27,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,19}</string>
			</dict>
			<key>games/lhd/images/game/dian_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1447,1},{18,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,11}</string>
			</dict>
			<key>games/lhd/images/game/dilan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,720},{1145,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1145,112}</string>
			</dict>
			<key>games/lhd/images/game/dilan_chong.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,482},{80,70}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,73}</string>
			</dict>
			<key>games/lhd/images/game/dilan_zaixian.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,531},{75,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,73}</string>
			</dict>
			<key>games/lhd/images/game/Head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,600},{70,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>games/lhd/images/game/Head_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,531},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>games/lhd/images/game/Head_wanjia_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,953},{75,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,93}</string>
			</dict>
			<key>games/lhd/images/game/Head_wanjia_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,531},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>games/lhd/images/game/Head_wanjia_kong.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,604},{64,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,68}</string>
			</dict>
			<key>games/lhd/images/game/Head_wanjia_mingzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1439,634},{70,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,20}</string>
			</dict>
			<key>games/lhd/images/game/Head_wanjiaF_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,1},{86,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,145}</string>
			</dict>
			<key>games/lhd/images/game/Head_wanjiaS_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1027,148},{86,127}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,145}</string>
			</dict>
			<key>games/lhd/images/game/heguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,139},{121,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,143}</string>
			</dict>
			<key>games/lhd/images/game/help_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,1005},{114,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,48}</string>
			</dict>
			<key>games/lhd/images/game/jinbi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1413,172},{127,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,38}</string>
			</dict>
			<key>games/lhd/images/game/kai_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,834},{450,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,117}</string>
			</dict>
			<key>games/lhd/images/game/kai_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,834},{450,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,117}</string>
			</dict>
			<key>games/lhd/images/game/mortgage_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1027,277},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>games/lhd/images/game/mortgage_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,284},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>games/lhd/images/game/mortgage_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,376},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>games/lhd/images/game/mortgage_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,383},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>games/lhd/images/game/mortgage_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,475},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>games/lhd/images/game/mortgage_fei_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,1005},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>games/lhd/images/game/mortgage_fei_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,376},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>games/lhd/images/game/mortgage_fei_1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,432},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>games/lhd/images/game/mortgage_fei_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,488},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>games/lhd/images/game/mortgage_fei_5000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,544},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>games/lhd/images/game/mortgage_xuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,953},{116,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,115}</string>
			</dict>
			<key>games/lhd/images/game/record_an.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,722},{54,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,37}</string>
			</dict>
			<key>games/lhd/images/game/record_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1413,533},{99,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,41}</string>
			</dict>
			<key>games/lhd/images/game/record_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,722},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>games/lhd/images/game/record_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1296,722},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>games/lhd/images/game/record_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1331,722},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>games/lhd/images/game/time_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,1010},{58,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,67}</string>
			</dict>
			<key>games/lhd/images/game/tishitiao_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,834},{174,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,51}</string>
			</dict>
			<key>games/lhd/images/game/zhuangjia_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,953},{210,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,92}</string>
			</dict>
			<key>games/lhd/images/game/zhuangjia_biao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1023},{46,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,50}</string>
			</dict>
			<key>games/lhd/images/game/zhuangjia_jinbi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1413,634},{100,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,24}</string>
			</dict>
			<key>games/lhd/images/game/zhuangjia_wanjia_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{717,617}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{717,617}</string>
			</dict>
			<key>games/lhd/images/game/wifi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1439,735},{24,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,19}</string>
			</dict>
			<key>games/lhd/images/game/wait.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,953},{493,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{493,68}</string>
			</dict>
			<key>games/lhd/images/game/wait_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,1023},{41,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,38}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game.png</string>
			<key>realTextureFileName</key>
			<string>game.png</string>
			<key>size</key>
			<string>{1460,1070}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1460</integer>
			<key>height</key>
			<integer>1070</integer>
		</dict>
	</dict>
</plist>