<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>7liuguang/jyt_sgj_7liug_00.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>7liuguang/jyt_sgj_7liug_01.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>134</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>7liuguang/jyt_sgj_7liug_02.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>269</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>7liuguang/jyt_sgj_7liug_03.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>404</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>7liuguang/jyt_sgj_7liug_04.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>539</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>7liuguang/jyt_sgj_7liug_05.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>673</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>7liuguang/jyt_sgj_7liug_06.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>807</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>7liuguang/jyt_sgj_7liug_07.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>941</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>7liuguang/jyt_sgj_7liug_08.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>1075</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>7liuguang/jyt_sgj_7liug_09.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>1209</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>sgj_7_02.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>1343</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sgj_7_01.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>136</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>1471</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>sgj_70.png</string>
			<key>realTextureFileName</key>
			<string>sgj_70.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>