<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_explosive1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1864},{168,102}}</string>
                <key>offset</key>
                <string>{-4,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,390},{168,102}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>bomb_explosive10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{608,450}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,53},{608,450}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>bomb_explosive11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{562,488}}</string>
                <key>offset</key>
                <string>{21,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,3},{562,488}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>bomb_explosive12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1536},{470,474}}</string>
                <key>offset</key>
                <string>{112,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,2},{470,474}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>bomb_explosive13.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1414},{202,224}}</string>
                <key>offset</key>
                <string>{123,158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,0},{202,224}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>bomb_explosive2.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1640},{222,134}}</string>
                <key>offset</key>
                <string>{11,-162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,365},{222,134}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>bomb_explosive3.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1214},{262,198}}</string>
                <key>offset</key>
                <string>{29,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,312},{262,198}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>bomb_explosive4.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,892},{320,248}}</string>
                <key>offset</key>
                <string>{33,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,258},{320,248}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>bomb_explosive5.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,626},{344,264}}</string>
                <key>offset</key>
                <string>{29,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,242},{344,264}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>bomb_explosive6.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,944},{468,272}}</string>
                <key>offset</key>
                <string>{54,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,228},{468,272}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>bomb_explosive7.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1414},{596,320}}</string>
                <key>offset</key>
                <string>{23,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,180},{596,320}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>bomb_explosive8.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{622,378}}</string>
                <key>offset</key>
                <string>{-14,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,122},{622,378}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
            <key>bomb_explosive9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{590,418}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,82},{590,418}}</string>
                <key>sourceSize</key>
                <string>{778,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb_explosive.png</string>
            <key>size</key>
            <string>{1000,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ee3b68ec2a156f7621ca16bb1110ced:1/1$</string>
            <key>textureFileName</key>
            <string>bomb_explosive.png</string>
        </dict>
    </dict>
</plist>
