<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butterfly1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{88,142}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,27},{88,142}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>butterfly10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{92,146}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{92,146}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>butterfly11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{88,142}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,27},{88,142}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>butterfly2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{92,146}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{92,146}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>butterfly3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{96,154}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{96,154}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>butterfly4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{98,168}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{98,168}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>butterfly5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,180}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{98,180}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>butterfly6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{96,184}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,7},{96,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>butterfly7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,180}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{98,180}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>butterfly8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{98,168}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{98,168}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>butterfly9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{96,154}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{96,154}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>butterfly.png</string>
            <key>size</key>
            <string>{102,1306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2a98d37ef950cc2359f8ae7ffef748a:1/1$</string>
            <key>textureFileName</key>
            <string>butterfly.png</string>
        </dict>
    </dict>
</plist>
