<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>boos_jingshitiao/boos_jingshitiao_00.png</key>
			<dict>
				<key>width</key>
				<integer>668</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>boos_jingshitiao/boos_jingshitiao_01.png</key>
			<dict>
				<key>width</key>
				<integer>668</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>21</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>boos_jingshitiao/boos_jingshitiao_02.png</key>
			<dict>
				<key>width</key>
				<integer>668</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>42</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>boos_jingshitiao/boos_jingshitiao_03.png</key>
			<dict>
				<key>width</key>
				<integer>668</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>63</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>boos_jingshitiao/boos_jingshitiao_04.png</key>
			<dict>
				<key>width</key>
				<integer>668</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>84</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>boos_jingshitiao/boos_jingshitiao_05.png</key>
			<dict>
				<key>width</key>
				<integer>668</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>boos_jingshitiao/boos_jingshitiao_06.png</key>
			<dict>
				<key>width</key>
				<integer>668</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>126</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>boos_jingshitiao/boos_jingshitiao_07.png</key>
			<dict>
				<key>width</key>
				<integer>668</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>147</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>boos_jingshitiao/boos_jingshitiao_08.png</key>
			<dict>
				<key>width</key>
				<integer>668</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>168</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>boos_jingshitiao/boos_jingshitiao_09.png</key>
			<dict>
				<key>width</key>
				<integer>668</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>189</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>wring/boo_waing_00.png</key>
			<dict>
				<key>width</key>
				<integer>1334</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>1334</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>210</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>wring/boo_waing_01.png</key>
			<dict>
				<key>width</key>
				<integer>1334</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>1334</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>279</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>wring/boo_waing_02.png</key>
			<dict>
				<key>width</key>
				<integer>1334</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>1334</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>350</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>wring/boo_waing_03.png</key>
			<dict>
				<key>width</key>
				<integer>1334</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>1334</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>421</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>wring/boo_waing_04.png</key>
			<dict>
				<key>width</key>
				<integer>1334</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>1334</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>492</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>wring/boo_waing_05.png</key>
			<dict>
				<key>width</key>
				<integer>1334</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>1334</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>563</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>wring/boo_waing_06.png</key>
			<dict>
				<key>width</key>
				<integer>1334</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>1334</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>634</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>wring/boo_waing_07.png</key>
			<dict>
				<key>width</key>
				<integer>1334</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>1334</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>670</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>wring/boo_waing_08.png</key>
			<dict>
				<key>width</key>
				<integer>1334</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>1334</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>705</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>wring/boo_waing_09.png</key>
			<dict>
				<key>width</key>
				<integer>1334</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>1334</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>670</integer>
				<key>y</key>
				<integer>71</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>buyu_boos_117.png</key>
			<dict>
				<key>width</key>
				<integer>268</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>268</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>776</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>boos_laixi_010.png</string>
			<key>realTextureFileName</key>
			<string>boos_laixi_010.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>