<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird23_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1908},{137,456}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{137,456}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>Bird23_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,475},{129,464}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{129,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>Bird23_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,475},{125,468}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{125,468}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>Bird23_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1916},{129,464}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{129,464}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>Bird23_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{125,462}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{125,462}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>Bird23_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,475},{127,462}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{127,462}}</string>
                <key>sourceSize</key>
                <string>{177,480}</string>
            </dict>
            <key>Bird24_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,1614},{378,302}}</string>
                <key>offset</key>
                <string>{-13,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,20},{378,302}}</string>
                <key>sourceSize</key>
                <string>{500,380}</string>
            </dict>
            <key>Bird24_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1750},{404,288}}</string>
                <key>offset</key>
                <string>{-15,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,18},{404,288}}</string>
                <key>sourceSize</key>
                <string>{500,380}</string>
            </dict>
            <key>Bird24_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,864},{416,284}}</string>
                <key>offset</key>
                <string>{-12,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{416,284}}</string>
                <key>sourceSize</key>
                <string>{500,380}</string>
            </dict>
            <key>Bird24_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{418,280}}</string>
                <key>offset</key>
                <string>{-9,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,21},{418,280}}</string>
                <key>sourceSize</key>
                <string>{500,380}</string>
            </dict>
            <key>Bird24_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,440},{422,276}}</string>
                <key>offset</key>
                <string>{-10,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,28},{422,276}}</string>
                <key>sourceSize</key>
                <string>{500,380}</string>
            </dict>
            <key>Bird24_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,908},{422,276}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,31},{422,276}}</string>
                <key>sourceSize</key>
                <string>{500,380}</string>
            </dict>
            <key>Bird24_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,422},{414,278}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{414,278}}</string>
                <key>sourceSize</key>
                <string>{500,380}</string>
            </dict>
            <key>Bird24_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,838},{408,272}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,50},{408,272}}</string>
                <key>sourceSize</key>
                <string>{500,380}</string>
            </dict>
            <key>Bird24_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,2},{412,262}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,70},{412,262}}</string>
                <key>sourceSize</key>
                <string>{500,380}</string>
            </dict>
            <key>Bird24_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1387},{424,260}}</string>
                <key>offset</key>
                <string>{-7,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,85},{424,260}}</string>
                <key>sourceSize</key>
                <string>{500,380}</string>
            </dict>
            <key>Bird24_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,466},{440,262}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,95},{440,262}}</string>
                <key>sourceSize</key>
                <string>{500,380}</string>
            </dict>
            <key>Bird24_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,939},{446,280}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,87},{446,280}}</string>
                <key>sourceSize</key>
                <string>{500,380}</string>
            </dict>
            <key>Bird24_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{436,298}}</string>
                <key>offset</key>
                <string>{-6,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,72},{436,298}}</string>
                <key>sourceSize</key>
                <string>{500,380}</string>
            </dict>
            <key>Bird24_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1332},{416,310}}</string>
                <key>offset</key>
                <string>{-12,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,61},{416,310}}</string>
                <key>sourceSize</key>
                <string>{500,380}</string>
            </dict>
            <key>Bird24_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,416},{404,320}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,48},{404,320}}</string>
                <key>sourceSize</key>
                <string>{500,380}</string>
            </dict>
            <key>Bird24_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,2},{400,322}}</string>
                <key>offset</key>
                <string>{-16,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,40},{400,322}}</string>
                <key>sourceSize</key>
                <string>{500,380}</string>
            </dict>
            <key>Bird24_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,822},{398,316}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,37},{398,316}}</string>
                <key>sourceSize</key>
                <string>{500,380}</string>
            </dict>
            <key>Bird24_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,1222},{390,312}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,28},{390,312}}</string>
                <key>sourceSize</key>
                <string>{500,380}</string>
            </dict>
            <key>Bird25_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{273,471}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{273,471}}</string>
                <key>sourceSize</key>
                <string>{273,473}</string>
            </dict>
            <key>Bird25_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1435},{275,471}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{275,471}}</string>
                <key>sourceSize</key>
                <string>{275,473}</string>
            </dict>
            <key>Bird25_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1435},{277,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,471}}</string>
                <key>sourceSize</key>
                <string>{277,471}</string>
            </dict>
            <key>Bird25_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,960},{281,473}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{281,473}}</string>
                <key>sourceSize</key>
                <string>{283,475}</string>
            </dict>
            <key>Bird25_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1439},{283,475}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{283,475}}</string>
                <key>sourceSize</key>
                <string>{283,477}</string>
            </dict>
            <key>Bird25_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{283,477}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{283,477}}</string>
                <key>sourceSize</key>
                <string>{283,479}</string>
            </dict>
            <key>Bird25_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,477}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{283,477}}</string>
                <key>sourceSize</key>
                <string>{283,479}</string>
            </dict>
            <key>Bird25_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{281,477}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{281,477}}</string>
                <key>sourceSize</key>
                <string>{281,479}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>birds2_2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:101f19994c3e8f5b065903dcacbc2184$</string>
            <key>textureFileName</key>
            <string>birds2_2.png</string>
        </dict>
    </dict>
</plist>
