<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bird27_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{568,776}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,27},{568,776}}</string>
                <key>sourceSize</key>
                <string>{820,820}</string>
            </dict>
            <key>Bird27_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{568,774}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,29},{568,774}}</string>
                <key>sourceSize</key>
                <string>{820,820}</string>
            </dict>
            <key>Bird27_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{524,778}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,29},{524,778}}</string>
                <key>sourceSize</key>
                <string>{820,820}</string>
            </dict>
            <key>Bird28_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,1010},{225,198}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{225,198}}</string>
                <key>sourceSize</key>
                <string>{235,204}</string>
            </dict>
            <key>Bird28_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,608},{225,200}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{225,200}}</string>
                <key>sourceSize</key>
                <string>{235,204}</string>
            </dict>
            <key>Bird28_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2},{229,204}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{229,204}}</string>
                <key>sourceSize</key>
                <string>{235,204}</string>
            </dict>
            <key>Bird28_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,208},{227,202}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{227,202}}</string>
                <key>sourceSize</key>
                <string>{235,204}</string>
            </dict>
            <key>Bird28_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,810},{225,198}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{225,198}}</string>
                <key>sourceSize</key>
                <string>{235,204}</string>
            </dict>
            <key>Bird28_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,1210},{225,196}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{225,196}}</string>
                <key>sourceSize</key>
                <string>{235,204}</string>
            </dict>
            <key>Bird28_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,412},{227,194}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{227,194}}</string>
                <key>sourceSize</key>
                <string>{235,204}</string>
            </dict>
            <key>Bird29_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1408},{614,696}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,29},{614,696}}</string>
                <key>sourceSize</key>
                <string>{650,750}</string>
            </dict>
            <key>Bird29_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,628},{622,696}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,29},{622,696}}</string>
                <key>sourceSize</key>
                <string>{650,750}</string>
            </dict>
            <key>Bird29_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{624,696}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,29},{624,696}}</string>
                <key>sourceSize</key>
                <string>{650,750}</string>
            </dict>
            <key>Bird29_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1408},{620,694}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,33},{620,694}}</string>
                <key>sourceSize</key>
                <string>{650,750}</string>
            </dict>
            <key>Tmd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,778},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>birds2_6.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea5998667c266ba33d0d95fd89290905$</string>
            <key>textureFileName</key>
            <string>birds2_6.png</string>
        </dict>
    </dict>
</plist>
